body {
  margin: 0;
  font-family: 'Dancing Script', cursive;
  font-family: 'Instrument Serif', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
